name: Lint

on: [push]
jobs:
  eslint and jest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Yarn install dev dependencies
        run: yarn install

      - name: Run linters
        run: yarn run lint

      - name: Run Tests
        run: yarn run test
